/* Scheme cards */
.content-section {
    color: #008631
}

.scheme-card {
    background-color: #cefad0;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.scheme-card:hover {
    background-color: #f4f4f9;
}
